* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b2027;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #EEEEEE;
    margin: 8px;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #222831;
    }

    .splash {
        font-size: 12px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: black;
        z-index: 200;
        color: white;
        text-align: center;
        padding-top: 300px;
    }

    .splash i {
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
    }


    .splash.display-none {
        font-size: 12px;
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: black;
        z-index: -10;
        color: white;
        text-align: center;
        line-height: 90vh;
    }

    .splash h1 {
        font-weight: 100;
        font-size: 45px;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .fade-in {
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
    }



    .telaLogin .fechar {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .login button {
        width: 130px;
        height: 50px;
        border-radius: 10px;
        margin: 20px 15px 0 0;
        cursor: pointer;
        font-size: 15px;
        background: #1578BC;
        color: #E7F0DC;
        transition: .5s;
        border: none;
    }

    .login button:hover {
        background: #12639a;
        transition: .5s;
        transform: scale(1.05);
    }

    .telaLogin {
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 400px;
        height: 440px;
        backdrop-filter: blur(200px);
        border: 0.1px solid #EEEEEE;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 1;
        transition: 0.2s;
    }

    .telaLogin .formReg.ativoTela {
        width: 100%;
        padding: 40px;
    }

    .telaLogin.ativoMenu {
        height: 600px;
    }

    .telaLogin.ativoMenu .form-log {
        transition: 1s;
        transform: translate(400px);
    }

    .telaLogin.ativoMenu .formReg {
        transition: 1s;
        transform: translate(0px);
    }

    .telaLogin .form-log {
        transition: 0.5s;
        transform: translate(0);
    }

    .telaLogin .formReg {
        position: absolute;
        transform: translate(-400px);
        transition: 0.5s;
    }

    .telaLogin h2 {
        font-size: 32px;
        letter-spacing: -2px;
        color: #EEEEEE;
        text-align: center;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: #EEEEEE 2px solid;
        margin: 30px 0;
    }

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: #FFD369;
        pointer-events: none;
        font-weight: 450;
    }

    .input-box input:focus~label,
    .input-box input:valid~label {
        top: -5px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        color: #FFD369;
        font-weight: 200;
        padding: 0 35px 0 5px;
    }

    .input-box .icon-log {
        position: absolute;
        right: 8px;
        font-size: 20px;
        color: #FFD369;
        line-height: 57px;
    }

    .gerenc-senha {
        font-size: 14px;
        color: #eeeeee;
        font-weight: 500;
        margin: -25px 0 25px;
        display: flex;
        justify-content: space-between;
    }

    .gerenc-senha label input {
        accent-color: #eeeeee;
        margin-right: 3px;
    }

    .gerenc-senha a {
        color: #eeee;
        text-decoration: none;
    }

    .gerenc-senha a:hover {
        text-decoration: underline;
    }

    .btnSubmit {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        border: none;
        outline: none;
        color: #222831;
        background-color: #FFD369;
        transition: .5s;
        margin-bottom: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .form-log a {
        text-decoration: none;
        color: #222831;
    }

    .btnSubmit:hover {
        background-color: #f1bb3c;
        transform: scale(1.05);
        transition: .5s;
    }

    .registro {
        font-size: 16px;
        font-weight: 400;
        color: #eeeeee;
        text-align: center;
    }

    .registro p a {
        text-decoration: none;
        color: #FFD369;
        font-weight: 600;
    }

    .registro p a:hover {
        text-decoration: underline;
    }

    /**ESTILIZACOES GERAIS*/

    header {
        background-color: #222831;
        width: 100vw;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: #1b2027;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        transition: 0.3s;
    }

    main {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        align-items: center;
        justify-content: center;
        margin: 15px;
        color: white;
        width: 66v;
    }

    .titulo h3 {
        margin-top: 15px
    }

    .titulo button {
        margin-top: 10px;
        padding: 10px 20px;
        width: 40vw;
        border-radius: 10px;
        background-color: #FFD369;
        color: #1b2027;
        border: none;
        cursor: pointer;
    }

    .card {
        margin: 30px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0f1115;
        width: 66v;
        height: 33vh;
        border-radius: 12px;
    }

    .card img {
        width: 40vw;
        height: auto;
        border-radius: 10%;
        object-fit: cover;
        margin-bottom: 10px;
        margin: 5px;
    }

    .card h2 {
        font-size: 24px;
    }

    .card span {
        font-size: 20px;
    }

    .card button {
        margin-top: 10px;
        padding: 10px 20px;
        width: 40vw;
        border-radius: 10px;
        background-color: #FFD369;
        color: #1b2027;
        border: none;
        cursor: pointer;
    }

    .card button:hover {
        background-color: #ffbf2b;
    }

    .form-group {
        margin: 20px;
        color: #FFD369;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="date"],
    input[type="time"] {
        width: 80%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="checkbox"]+label {
        display: inline-block;
    }

    body::-webkit-scrollbar {
        width: 5px;
        /* width of the entire scrollbar */
    }

    body::-webkit-scrollbar-track {
        background: #0f1115;
        /* color of the tracking area */
    }

    body::-webkit-scrollbar-thumb {
        background-color: #f1bb3c;
        /* color of the scroll thumb */
        border-radius: 2px;
        /* roundness of the scroll thumb */
        /* creates padding around scroll thumb */
    }
}